.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    margin-right: 65px;
    padding: 0;
}

.menu-list__item {
    padding-right: 40px;  
}

.menu-list__item:last-child {
    padding-right: 0;  
}

.menu-list__link {
    color: inherit;
} 

.menu-list__link:hover {
    font-weight: bold;
} 
