.program-result {
    position: relative;
    width: 210px;
    padding: 60px;
    box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
}

.program-result::before{
    content: "";
    position: absolute;
    width: 125px;
    height: 125px;
    right: -62px;
    top: -53px;
    background: radial-gradient(68% 68% at 50% 50%, #6aaaff 0%, #2f80ed 100%), #ffffff;
    opacity: 0.1;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    border-radius: 50%;
}

.program-result::after {
    content: "";
    position: absolute;
    width: 89px;
    height: 89px;
    right: -44px;
    top: -35px;
    border-radius: 50%;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2F80ED 100%), #FFFFFF;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    filter: blur(10px);
}

.program-result__text {
    margin: 0;
    line-height: 20px;
    font-weight: $medium;
    color: $grey-text;
}

.program-result__text--top {
    margin-bottom: 10px;
    letter-spacing: 0.8px;
    color: $blue-main;
    text-transform: uppercase;
}

