.result-background {
    position: absolute;
    top: 0;
    left: -130px;
    min-width: 1440px;
    height: 950px;
    background: url("../image/result-background.jpg") 0 0 no-repeat;
    z-index: -1;
}