.reviews-share {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 231px;
    height: 231px;
    color: $blue-main;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #FFFFFF 0%, #CADEF9 100%), #FFFFFF;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    border-radius: 50%;
    text-align: center;
}

.reviews-share::before {
    content: "";
    position: absolute;
    top: 44px;
    left: 90px;
    width: 54px;
    height: 54px;
    background: url("../image/document.svg") no-repeat 0 0;
}

.reviews-share__text {
    width: 100px;
    margin: 110px auto 15px;
    font-size: 12px;
    text-align: center;
}

.reviews-share__link {
    font-size: 10px;
    line-height: 20px;
}