.reviews-background {
    position: absolute;
    top: 0;
    left: -55px;
    width: 1319px;
    height: 880px;
    background: url("../image/background-reviews.png") no-repeat 0 0;
    z-index: -1;
}