body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $black;
    text-align: left;
    background-color: #ffffff;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserratRegular.woff") format("woff"),
        url("../fonts/montserratRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat500.woff") format("woff"),
        url("../fonts/montserrat500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat700.woff") format("woff"),
        url("../fonts/montserrat700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    -webkit-clip-path: inset(100%);
  
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    margin: 0;
    font-size: 30px;
    line-height: 37px;
    font-weight: $bold;
}