$desktop-width: 1440px;
$desktop-padding: 130px;

$white: #ffffff;
$black: #000000;
$blue-main: #2f80ed;
$green-button: #64e2cd;
$grey-text: #636363;
$green-button2: #52d1bc;

$normal: 400;
$medium: 500;
$bold: 700;